<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ソースコードエスケープ</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
  <script src="javascripts/main.js"></script>
</head>
<body ng-app="escape" ng-controller="SrcEscapeController as se">

<div id="before">
  <h1>変換前ソースコード</h1>
  <textarea name="before-src" ng-model="se.beforeSrc" cols="80" rows="20"></textarea>
  <div>
    <input type="checkbox" id="tab2space" ng-model="se.tab2space"><label for="tab2space">タブをスペースに変換</label>
    => スペースの数：<input type="number" maxlength="2" size="2" ng-model="se.spaceNum">
  </div>
  <button ng-click="se.convert()" class="button">変換</button>
</div>

<p>↓↓↓</p>

<div id="after">
  <h1>変換後ソースコード</h1>
  <textarea name="after-src" ng-model="se.afterSrc" tm-click-select cols="80" rows="20"></textarea>
</div>

</body>
</html>
